*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.container{
    text-align: center;
    width: 100%;
}

/******** Position form images ********/
.car_outside, .car_inside{
    position: relative;
    margin: 25px 0 0 0;
}
#car_door{
    left: 34.6%;
    top: 0%;
}
#steer{
    left: 26.2%;
    top: 24.5%;
}
#car_door_inside{
    left: 13%;
    top: 0.5%;
}
#keyhole{    
    left: 44.25%;
    top: 53%;
}
#mirror{
    left: 41%;
}
#gearstick{
    left: 46%;
    top: 76%;
}
#gear{
    width: 190px;
    top: 35%;
}
#gas{
    width: 200px;
}
#wijzer{
    right: 4.1%;
    top: 8%;
    /* Initial value for rotate is needed for transition to work */
    transform:rotate(0);  
    /* CSS transition creates smooth effect */
    transition:all 10s;
}
#demo{
    right: 5%;
    top: 25%;
}
#car_door, #steer, #car_door_inside, #keyhole, #mirror, #gearstick, #gear, #gas,#wijzer,#demo{
    position: absolute;
}

/******** Shake mirror on hover ********/
#mirror:hover {
    animation: shake 0.5s;
    -webkit-animation: shake 0.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@-webkit-keyframes shake {
    0% { -webkit-transform: translate(1px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(3px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(1px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
